@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: white;
}

/* MASONRY FIX */
.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* gap fix */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px; /* gap */
  background-clip: padding-box;
}

/* spacing between items */
.my-masonry-grid_column > div {
  margin-bottom: 16px;
}